<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ app_title }}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css">
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto Condensed', 'Trebuchet MS', sans-serif;
            font-size: 12pt;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h1>PHP Lumen и Twig</h1>
                <hr>

            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
